button {
  background-color: #4caf50;
  font-size: 1em;
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}
body,
* + * {
  margin-top: 1em;
}
